@page "/"
@rendermode InteractiveServer

<PageTitle>Table</PageTitle>
<div class="table-container">
    
    <div class="player1-container">
        <img class="pixelated table" src="images/tables/basic.png" alt="table">
        
        @for (int i = 0; i < tableCards.Count; i++)
        {
            <img src="@tableCards[i]"
                 alt="tableCard"
                 class=@($"pixelated card table-card table-card{i+1}")>
        }
        
        @for (int i = 0; i < playerCards.Count/2; i++)
        {
            for (int j = 0; j < 2; j++)
            {
                <img src="@playerCards[2*i+j]"
                     alt="playerCard"
                     class=@($"pixelated card player{i+1}-card{j+1}")>
            }
        }
        
        <img class=@classFoldButton src=@buttonFold alt="fold" @onmouseover="OverFold" @onmouseout="OutFold" @onmousedown="ClickFold" @onmouseup="OverFold">
        <img class=@classCheckCallButton src=@buttonCheckCall alt="check/call" @onmouseover="OverCheckCall" @onmouseout="OutCheckCall" @onmousedown="ClickCheckCall" @onmouseup="OverCheckCall">
        <img class=@classRaiseButton src=@buttonRaise alt="raise" @onmouseover="OverRaise" @onmouseout="OutRaise" @onmousedown="ClickRaise" @onmouseup="OverRaise">
        
    </div>

</div>

@code
{
    
    private string tableCard1 = "images/cardFaces/default/10d.png";
    private string tableCard2 = "images/cardFaces/default/11d.png";
    private string tableCard3 = "images/cardFaces/default/12d.png";
    private string tableCard4 = "images/cardFaces/default/13d.png";
    private string tableCard5 = "images/cardFaces/default/14d.png";
    
    private List<string> tableCards = new()
    {
        "images/cardFaces/default/10d.png",
        "images/cardFaces/default/11d.png",
        "images/cardFaces/default/12d.png",
        "images/cardFaces/default/13d.png",
        "images/cardFaces/default/14d.png"
    };
    
    private List<string> playerCards = new()
    {
        "images/cardFaces/default/2d.png",
        "images/cardFaces/default/2s.png",
        
        "images/cardReverses/cat.png",
        "images/cardReverses/cat.png",
        
        "images/cardReverses/skull.png",
        "images/cardReverses/skull.png",
        
        "images/cardReverses/dottedRed.png",
        "images/cardReverses/dottedRed.png",
        
        "images/cardReverses/szpont.png",
        "images/cardReverses/szpont.png",
        
        "images/cardReverses/tetris.png",
        "images/cardReverses/tetris.png",
        
        "images/cardReverses/schizo.png",
        "images/cardReverses/schizo.png"
    };
    
    private string classFoldButton = "pixelated button-image foldButton";
    private string classCheckCallButton = "pixelated button-image checkCallButton";
    private string classRaiseButton = "pixelated button-image raiseButton";
    
    private string buttonFold = "images/buttons/foldOff.png";
    private string buttonCheckCall = "images/buttons/checkOff.png";
    private string buttonRaise = "images/buttons/raiseOff.png";
    
    private string buttonFoldOff = "images/buttons/foldOff.png";
    private string buttonCheckCallOff = "images/buttons/checkOff.png";
    private string buttonRaiseOff = "images/buttons/raiseOff.png";
    
    private string buttonFoldOn = "images/buttons/foldOn.png";
    private string buttonCheckCallOn = "images/buttons/checkOn.png";
    private string buttonRaiseOn = "images/buttons/raiseOn.png";
    
    private string buttonFoldClick = "images/buttons/foldClick.png";
    private string buttonCheckCallClick = "images/buttons/checkClick.png";
    private string buttonRaiseClick = "images/buttons/raiseClick.png";
    
    
    private void OverFold()
    {
        buttonFold = buttonFoldOn;
    }

    private void OutFold()
    {
        buttonFold = buttonFoldOff;
    }
    
    private void ClickFold()
    {
        buttonFold = buttonFoldClick;
    }

    private void OverCheckCall()
    {
        buttonCheckCall = buttonCheckCallOn;
    }

    private void OutCheckCall()
    {
        buttonCheckCall = buttonCheckCallOff;
    }
    
    private void ClickCheckCall()
    {
        buttonCheckCall = buttonCheckCallClick;
    }

    private void OverRaise()
    {
        buttonRaise = buttonRaiseOn;
    }
    
    private void OutRaise()
    {
        buttonRaise = buttonRaiseOff;
    }
    
    private void ClickRaise()
    {
        buttonRaise = buttonRaiseClick;
    }
}